---
import SkillsList from "../React/SkillsList.tsx";
---

<section class="border-t border-[#ffffff10] w-full lg:max-w-[1200px] flex flex-col justify-center gap-8 lg:gap-10 px-5 mx-auto mt-10" id="service">
  <div class="flex flex-col items-center gap-8 pt-10">
    <h1 class="text-[var(--white)] text-4xl md:text-5xl font-medium">Desarrollo de Software <br /> A medida</h1>
    <SkillsList client:load />
  </div>
</section>

<style is:global>
  .shiny-sec {
    background: linear-gradient(135deg, #a476ff 25%, #eee5ff 50%, #a476ff 75%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 100% 50%;
    }
    30%,
    70% {
      background-position: 0% 50%;
    }
  }
</style>
